$blue: #0a4870;
$black: #000;
$grey: #595858;
$grey2: #f0f0f0;
$brownshimmer: #422e0c9b;
$brownshimmerlight: #422e0c36;
$orange: #ff501e;

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin halfradius($val) {
  -webkit-border-radius: 0 0 $val $val;
  -moz-border-radius: 0 0 $val $val;
  border-radius: 0 0 $val $val;
}

@mixin cardsOpen() {
  &::before {
    background: $brownshimmer;
  }
  .buy-container {
    .content {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .informations-container {
    transform: translateY(0px);
    .more-information {
      opacity: 1;
    }
  }
}

body {
  color: $blue;
  background: url("./components/images/kitten9.png"),
    url("./components/images/background.png"),
    url("./components/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

//Navbar

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 1vw;
  @media (max-width: 768px) {
    position: fixed;
    z-index: 20;
  }
  //Logo
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    .logo-wrapper {
      background: transparent;
      display: flex;
      width: max-content;
      justify-content: center;
      align-items: center;
      .logo-img {
        height: 100%;
        width: 80px;
        display: inherit;
        @media (max-width: 768px) {
          width: 40px;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      p {
        margin: 0 3vw;
        font-size: 3rem;
        font-weight: bold;
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
  //Icons
  ul {
    display: inline-flex;
    height: min-content;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    @media (max-width: 768px) {
      padding: 0px;
    }
  }
}
//Total Amount
.nav-cart {
  display: inline-flex;
  align-items: center;
  height: min-content;
  padding: 12px 10px;
  @media (max-width: 768px) {
    display: none;
  }
  p {
    color: #0a4870;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    width: 300px;
    min-width: min-content;
    display: flex;
    justify-content: space-between;
    mark {
      border-bottom: 2px solid yellow;
      background-color: transparent;
      color: $blue;
      padding: 3px 6px 0 6px;
      &:hover {
        background-color: yellow;
      }
    }
  }
}

.mediaqueryNav {
  display: none;
  @media (max-width: 768px) {
    display: block;
    height: 7vh;
  }
}

.productslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  .item-card {
    position: relative;
    width: 350px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    box-shadow: 0 20px 50px $brownshimmer;
    margin: 20px;
    margin-bottom: 30px;
    @include radius(35px);
    overflow: hidden;
    background-position: 50% 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    color: $blue;
    transition: 0.3s;
    opacity: 0.7;
    border-bottom: 14px solid $orange;
    &:nth-of-type(1) {
      border-right: 4px solid $orange;
    }
    &:nth-of-type(2) {
      border-right: 4px solid $orange;
    }
    &:nth-of-type(2) {
      background-position: 50% 20%;
    }
    &:nth-of-type(3) {
      border-right: 4px solid $orange;
    }
    &:nth-of-type(5) {
      background-position: 50% 5%;
      border-left: 4px solid $orange;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s;
    }
    .buy-container {
      height: 200px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transform: translateY(-200px);
        transition: 0.3s;
        .btn {
          border: 3px solid white;
          background: none;
          font-size: 1.3em;
          color: white;
          cursor: pointer;
          transition: 0.3s;
          @include radius(25px);
          &:hover {
            color: $blue;
            background: linear-gradient(to bottom, #e8edec, #d2d1d3);
            box-shadow: 0px 3px 20px 0px black;
            @include radius(25px);
          }
        }
      }
    }
    .informations-container {
      flex: 1 0 auto;
      padding: 20px;
      background: white;
      transform: translateY(120px);
      transition: 0.3s;
      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-weight: bold;
        font-size: 1.2em;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 80px;
          margin: auto;
          background: $blue;
        }
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
      }
      .more-information {
        opacity: 0;
        transition: 0.3s;
        .info-and-date-container {
          display: flex;
        }
        .disclaimer {
          margin-top: 15px;
          color: $grey;
        }
      }
    }
    &:hover {
      @include cardsOpen();
    }
  }
}

.productdetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
  .item-wrapper {
    position: relative;
    height: 60vh;
    width: 60vh;
    margin: auto;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 1px solid black;
      &:nth-child(1) {
        @include radius(32% 58% 69% 43% / 48% 32% 59% 55%);
        transition: 0.5s;
        animation: animate 8s linear infinite;
      }
      &:nth-child(2) {
        @include radius(38% 62% 63% 37% / 41% 44% 56% 59%);
        transition: 0.5s;
        animation: animate 6s linear infinite;
      }
      &:nth-child(3) {
        @include radius(31% 45% 74% 35% / 38% 56% 51% 87%);
        transition: 0.5s;
        animation: animate2 12s linear infinite;
      }
    }
    div {
      display: flex;
      justify-content: center;
      align-content: center;
      overflow: hidden;
      @include radius(50%);
      width: 100%;
      height: 100%;
      img {
        min-width: 100%;
        min-height: 100%;
        opacity: 0.8;
        @include radius(50%);
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

span {
  font-weight: bold;
}

.footer {
  position: absolute;
  top: 0;
  right: 25vw;
  font-size: 1.2rem;
  margin: 0 5vw;
  border-left: 0.2px solid $brownshimmerlight;
  border-right: 0.2px solid $brownshimmerlight;
  @include halfradius(25px);
  padding: 0 10px 12px 10px;
  &:hover {
    transform: translateY(3px);
    color: $brownshimmer;
  }
  div {
    display: flex;
    @include halfradius(25px);
    padding: 0 10px 12px 10px;
    border-left: 0.5px solid $brownshimmerlight;
    border-right: 0.2px solid $brownshimmerlight;
    a {
      color: $brownshimmerlight;
      border-left: 0.3px solid $brownshimmerlight;
      border-right: 0.2px solid $brownshimmerlight;
      @include halfradius(25px);
      padding: 0 20px 5px 20px;
      &:hover {
        cursor: pointer;
        color: $brownshimmer;
      }
    }
  }
}

mark {
  border-bottom: 2px solid yellow;
  background-color: transparent;
  color: $blue;
}

.select {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin: auto;
  @media (max-width: 768px) {
    width: 80vw;
    margin: 0 auto; 
    padding-left: 0;
  }
  .firstSelect {
    padding: 12px;
    align-self: center; 
    @media (max-width: 768px) {
      padding: 0px;
    }
  }
}
