body {
  color: #0a4870;
  background: url("./components/images/kitten9.png"), url("./components/images/background.png"), url("./components/images/background.png"), no-repeat bottom;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #0a4870;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  background-color: #422e0c36;
  border-radius: 25px;
  border-bottom: 5px solid #ff501e;
  margin: 3vh;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div .logo-wrapper {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

nav div .logo-wrapper a {
  height: 100%;
  width: 10vh;
  display: inherit;
}

nav div .logo-wrapper a img {
  height: 100%;
  width: 100%;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 10px;
  margin-left: 3vw;
}

nav ul li a {
  list-style: none;
  color: #0a4870;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 12px 16px;
  margin: 0 30px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

nav ul li a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 25px;
  z-index: -1;
}

nav ul li a:hover {
  color: #0a4870;
}

nav ul li a:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8edec), to(#d2d1d3));
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  -webkit-box-shadow: 0px 3px 20px 0px black;
          box-shadow: 0px 3px 20px 0px black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 25px;
}

nav ul:hover {
  border: 0px solid white;
}

nav .nav-cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 12px 10px;
}

nav .nav-cart p {
  color: #0a4870;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 30px;
  position: relative;
  white-space: nowrap;
}

.productslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.productslist .item-card {
  position: relative;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 20px 50px #422e0c9b;
          box-shadow: 0 20px 50px #422e0c9b;
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 35px;
  overflow: hidden;
  background-position: 50% 25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  text-align: center;
  color: #0a4870;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.7;
  border-bottom: 14px solid #ff501e;
}

.productslist .item-card:nth-of-type(1) {
  border-right: 4px solid #ff501e;
}

.productslist .item-card:nth-of-type(2) {
  border-right: 4px solid #ff501e;
}

.productslist .item-card:nth-of-type(2) {
  background-position: 50% 20%;
}

.productslist .item-card:nth-of-type(3) {
  border-right: 4px solid #ff501e;
}

.productslist .item-card:nth-of-type(5) {
  background-position: 50% 5%;
  border-left: 4px solid #ff501e;
}

.productslist .item-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.productslist .item-card .buy-container {
  height: 200px;
}

.productslist .item-card .buy-container .content {
  position: relative;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: .3s;
  transition: .3s;
}

.productslist .item-card .buy-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 25px;
}

.productslist .item-card .buy-container .content .btn:hover {
  color: #0a4870;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8edec), to(#d2d1d3));
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  -webkit-box-shadow: 0px 3px 20px 0px black;
          box-shadow: 0px 3px 20px 0px black;
  border-radius: 25px;
}

.productslist .item-card .informations-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 20px;
  background: white;
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
  -webkit-transition: .3s;
  transition: .3s;
}

.productslist .item-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.productslist .item-card .informations-container .title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 80px;
  margin: auto;
  background: #0a4870;
}

.productslist .item-card .informations-container .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.productslist .item-card .informations-container .more-information {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.productslist .item-card .informations-container .more-information .info-and-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productslist .item-card .informations-container .more-information .disclaimer {
  margin-top: 15px;
  color: #595858;
}

.productslist .item-card:hover::before {
  background: #422e0c9b;
}

.productslist .item-card:hover .buy-container .content {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.productslist .item-card:hover .informations-container {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.productslist .item-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 768px) {
  ul .item-card::before {
    background: #422e0c9b;
  }
  ul .item-card .buy-container .content {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  ul .item-card .informations-container {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  ul .item-card .informations-container .more-information {
    opacity: 1;
  }
}

.productdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productdetails .item-wrapper {
  position: relative;
  height: 70vh;
  width: 70vh;
  margin: auto;
  margin-top: 4vh;
  margin-right: 10vw;
}

.productdetails .item-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.productdetails .item-wrapper span:nth-child(1) {
  border-radius: 32% 58% 69% 43%/48% 32% 59% 55%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}

.productdetails .item-wrapper span:nth-child(2) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.productdetails .item-wrapper span:nth-child(3) {
  border-radius: 31% 45% 74% 35%/38% 56% 51% 87%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate2 12s linear infinite;
          animation: animate2 12s linear infinite;
}

.productdetails .item-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.productdetails .item-wrapper div img {
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.productdetails .info-wrapper {
  font-size: 1.5rem;
  color: #0a4870;
  border-radius: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 45vw;
  margin: 10vw;
  opacity: 0.8;
}

.productdetails .info-wrapper p:first-child {
  margin: 0 5vw;
}

.productdetails .info-wrapper p {
  margin: 2vh 5vw;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

mark {
  border-bottom: 2px solid yellow;
  background-color: transparent;
  color: #0a4870;
}

span {
  font-weight: bold;
}

.footer {
  font-size: 1.2rem;
  color: #0a4870;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 5vw;
}

.footer a {
  color: #0a4870;
}

.footer a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */