$blue: #0a4870;
$black: #000;
$grey: #595858;
$grey2: #f0f0f0;
$brownshimmer: #422e0c9b;
$brownshimmerlight: #422e0c36;
$orange: #ff501e;

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
  &::before {
    background: $brownshimmer;
  }
  .buy-container {
    .content {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .informations-container {
    transform: translateY(0px);
    .more-information {
      opacity: 1;
    }
  }
}

body {
  color: $blue;
  background: url("./components/images/kitten9.png"),
    url("./components/images/background.png"),
    url("./components/images/background.png"), no-repeat bottom;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

//Navbar
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  background-color: $brownshimmerlight;
  @include radius(25px);
  border-bottom: 5px solid $orange;
  margin: 3vh;
  //Logo
  .logo-wrapper {
    background: transparent;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    a {
      height: 100%;
      width: 7vw;
      display: inherit;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  //navbar
  ul {
    display: inline-flex;
    height: min-content;
    align-items: center;
    padding: 12px 10px;
    margin-left: 3vw;
    background-color: $brownshimmerlight;
    @include radius(25px);
    li {
      background-color: $brownshimmerlight;
      @include radius(25px);
      padding: 10px;
      a {
        list-style: none;
        color: $blue;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 12px 16px;
        margin: 0 30px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
      }
    }
    &:hover {
      border: 0px solid white;
    }
  }
  //Cart - total amount
  .nav-cart {
    display: inline-flex;
    align-items: center;
    height: min-content;
    padding: 12px 10px;
    p {
      color: #0a4870;
      font-weight: bold;
      font-size: 1.2rem;
      white-space: nowrap;
      width: 300px;
      min-width: min-content; 
      display: flex;
      justify-content: space-between;      
      span {
        &:hover {
          background: linear-gradient(to bottom, #e8edec, #d2d1d3);
          box-shadow: 0px 3px 20px 0px black;
          border-radius: 25px;
          color: #0a4870;
          padding: 6px 10px 6px 2px;
        }
      }
    }
  }
}

.productslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  .item-card {
    position: relative;
    width: 350px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    box-shadow: 0 20px 50px $brownshimmer;
    margin: 20px;
    margin-bottom: 30px;
    @include radius(35px);
    overflow: hidden;
    background-position: 50% 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    color: $blue;
    transition: 0.3s;
    opacity: 0.7;
    border-bottom: 14px solid $orange;
    &:nth-of-type(1) {
      border-right: 4px solid $orange;
    }
    &:nth-of-type(2) {
      border-right: 4px solid $orange;
    }
    &:nth-of-type(2) {
      background-position: 50% 20%;
    }
    &:nth-of-type(3) {
      border-right: 4px solid $orange;
    }
    &:nth-of-type(5) {
      background-position: 50% 5%;
      border-left: 4px solid $orange;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10, 72, 112, 0);
      transition: 0.3s;
    }
    .buy-container {
      height: 200px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transform: translateY(-200px);
        transition: 0.3s;
        .btn {
          border: 3px solid white;
          padding: 10px 15px;
          background: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3em;
          color: white;
          cursor: pointer;
          transition: 0.3s;
          @include radius(25px);
          &:hover {
            color: $blue;
            background: linear-gradient(to bottom, #e8edec, #d2d1d3);
            box-shadow: 0px 3px 20px 0px black;
            @include radius(25px);
          }
        }
      }
    }

    .informations-container {
      flex: 1 0 auto;
      padding: 20px;
      background: white;
      transform: translateY(120px);
      transition: 0.3s;
      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-weight: bold;
        font-size: 1.2em;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 80px;
          margin: auto;
          background: $blue;
        }
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
      }
      .more-information {
        opacity: 0;
        transition: 0.3s;
        .info-and-date-container {
          display: flex;
        }
        .disclaimer {
          margin-top: 15px;
          color: $grey;
        }
      }
    }

    &:hover {
      @include cardsOpen();
    }
  }
}

@media (max-width: 768px) {
  ul {
    .item-card {
      @include cardsOpen();
    }
  }
}

.productdetails {
  display: flex;
  justify-content: center;
  .item-wrapper {
    position: relative;
    height: 70vh;
    width: 70vh;
    margin: auto;
    margin-top: 4vh;
    margin-right: 10vw;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 1px solid black;
      &:nth-child(1) {
        @include radius(32% 58% 69% 43% / 48% 32% 59% 55%);
        transition: 0.5s;
        animation: animate 8s linear infinite;
      }
      &:nth-child(2) {
        @include radius(38% 62% 63% 37% / 41% 44% 56% 59%);
        transition: 0.5s;
        animation: animate 6s linear infinite;
      }
      &:nth-child(3) {
        @include radius(31% 45% 74% 35% / 38% 56% 51% 87%);
        transition: 0.5s;
        animation: animate2 12s linear infinite;
      }
    }
    div {
      display: flex;
      justify-content: center;
      align-content: center;
      overflow: hidden;
      @include radius(50%);
      width: 100%;
      height: 100%;
      img {
        min-width: 100%;
        min-height: 100%;
        opacity: 0.8;
      }
    }
  }
  .info-wrapper {
    font-size: 1.5rem;
    color: $blue;
    @include radius(25px);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: min-content;
    background-color: white;
    align-items: center;
    max-width: 45vw;
    margin: 10vw;
    opacity: 0.8;
    p:first-child {
      margin: 0 5vw;
    }
    p {
      margin: 2vh 5vw;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

mark {
  border-bottom: 2px solid yellow;
  background-color: transparent;
  color: $blue;
  &:hover{
    background-color: yellow; 
  }
}

span {
  font-weight: bold;
}

.footer {
  font-size: 1.2rem;
  color: $blue;
  display: flex;
  align-self: flex-end;
  margin: 0 5vw;
  background-color: $brownshimmerlight;
  border-left: 0.2px solid $orange;
  @include radius(25px);
  padding: 12px 10px;
  margin: 0 5vw 5vh 0;
  div {
    display: flex;
    background-color: $brownshimmerlight;
    @include radius(25px);
    padding: 12px 10px;
    border-left: 0.5px solid $orange;
    a {
      color: $blue;
      background-color: $brownshimmerlight;
      border-left: 0.3px solid $orange;
      @include radius(25px);
      padding: 5px 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.row {
  display: flex;
}

.col {
  flex: 1 1;
}
