$font : 'Sofia', sans-serif;
$font-size:16px;
$blue : #0a4870;
$black: #000;
$grey : #595858;
$grey2 : #f0f0f0;


@mixin radius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
  }

@mixin cardsOpen() {
    &::before {
      background: #422e0c9b; 
    }
    .buy-container {
      .content {
        opacity: 1;

        transform: translateY(0px);
      }
    }

    .informations-container {      
      transform: translateY(0px);
      .more-information {
        opacity: 1;
      }
    }
}

.wrapper:before{
    animation: slide 30s linear infinite;
    content: ''; 
    background: url('./components/images/kitten2.png') repeat bottom;
    opacity: 0.3; 
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;   
}

.wrapper{
    background: url('./components/images/background.png') repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;   
}

@keyframes slide {
    0% { 
        opacity: 0; 
    }
    30%, 70%{
        opacity: 0.3; 
    }
    50%{
        opacity: 0.1; 
    }
    45%{
        opacity: 0.2; 
    }
    100% {
        opacity: 0; 
    }
  }
  

nav {
    display: flex;
    justify-content: space-between;
    ul{
        list-style: none;
        li{
            margin: 2vw; 
           a{
                text-decoration: none;
             }   
        }
    }
    div{
        margin: 2vw; 
    }
}

a{
    text-decoration: none;
    color: black;
}


ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding:0;
   
  .item-card{
    position: relative;
    width: 350px; 
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    box-shadow: 0 20px 50px #422e0c9b;
    
    margin: 20px;
    margin-bottom: 30px;
    @include radius(10px);
    
    overflow: hidden;
    
    background-position: 50% 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white; 
    
    text-align: center;
    color: $blue;
    
    transition: .3s;

    &:nth-of-type(2){
        background-position: 50% 20%;   
        }
    &:nth-of-type(5){
    background-position: 50% 5%;   
    }
    
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      background: rgba(10,72,112, 0);
      
      transition: .3s;
    }
    .buy-container {
      height: 200px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        transform: translateY(-200px);
        
        transition: .3s;
        
        .btn {      
          border: 3px solid white;
          padding: 10px 15px;
          
          background: none;
          
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3em;
          color: white;
          
          cursor: pointer;
          
          transition: .3s;
          
          &:hover {
            background: white;
            
            border: 0px solid white;
            
            color: $blue;
          }
        }
      }
    }
    
    .informations-container{      
      flex: 1 0 auto;
      
      padding: 10px;
      
      background: $grey2;
      
      transform: translateY(120px);
      
      transition: .3s;
      
      .title {
        position: relative;
        
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 5px; 
        
        font-weight: bold;
        font-size: 1.2em;
        
        &::after{
          content: '';
          
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          
          height: 3px;
          width: 80px;
          
          margin: auto;
          
          background: $blue;
        }
      }
      
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 5px;
      }
      
      .more-information {
        opacity: 0;
        
        transition: .3s;
        .info-and-date-container {
          display: flex;
        }
        .disclaimer {
          margin-top: 15px;
          color: $grey;
        }
      }
    }
    
    &:hover {
      @include cardsOpen();
    }
  }
}

@media (max-width: 768px) {
  ul {
    .item-card{
      @include cardsOpen();
    }
  }
}

.productdetails{
    .image-wrapper{
        position: relative;
        height: 70vh; 
        width: 70vh; 
        margin: auto; 
    span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; 
        width: 100%; 
        border: 1px solid black;     
            &:nth-child(1) {
                border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
                transition: 0.5s;
                animation: animate 8s linear infinite;
            }
            &:nth-child(2) {
                border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
                transition: 0.5s;
                animation: animate 6s linear infinite;
            }
            &:nth-child(3) {
                border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
                transition: 0.5s;
                animation: animate2 12s linear infinite;
            }
    }
    img{
        width: 100%; 
        height: 100%; 
        border-radius: 50%; 
    }
}   
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }